<h1>You have selected the details for:</h1>

<ul>
    <li>Name:  <%= @animal.name %></li>
    <li>Species:  <%= @animal.species %></li>
    <li>Breed:  <%= @animal.breed %></li>
    <li>Age:  <%= @animal.age %></li>
    <li>Sex:  <%= @animal.sex %></li>
    <li>Arrival:  <%= @animal.arrival_time %></li>
    <li>Departure:  <%= @animal.departure_time %></li>
</ul>
