<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JMDB - Joel's Movie DataBase</title>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="site_name">
  <h1>JMMDB - Joel's MEGA Movie DataBase </h1>
  </div>

  <div id="search">
  <form action="/search">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" name="button" value="search">
    <input type="submit" name="button" value="lucky">
  </form>
  </div>

  <% if @movie %>
    <div id="title">
      <h2>
        <a href="https://www.google.com/search?q=<%= @movie["Title"] %>"> <%= @movie["Title"] %></a></h2>
      </div>

      <div id="poster">  
      <img src="<%= @movie["Poster"] %>">
      </div>

      <div id="plot">
       <p>Plot: <%= @movie["Plot"] %></p>
       </div>

      <div id="details">
      <ul>
        <li>Year: <%= @movie["Year"] %></li>
        <li>Rated: <%= @movie["Rated"] %></li>
        <li>Released: <%= @movie["Released"] %></li>
        <li>Runtime: <%= @movie["Runtime"] %></li>
        <li>Genre: <%= @movie["Genre"] %></li>
        <li>Director: <%= @movie["Director"] %></li>
        <li>Writers: <%= @movie["Writers"] %></li>
        <li>Actors: <%= @movie["Actors"] %></li>
        <li>Language: <%= @movie["Language"] %></li>
        <li>Country: <%= @movie["Country"] %></li>
        <li>Awards: <%= @movie["Awards"] %></li>
        <li>Metascore: <%= @movie["Metascore"] %></li>
      </ul>
    </div>
  <% end %>

<div id="movie_list">
  
  <% if @movies %>
    <% @movies.each do |movie_search| %>
      
      <p>Title: <a href="/movies/<%= movie_search["imdbID"] %>"><%= movie_search["Title"] %></a></p>
      <p>Year: <%= movie_search["Year"] %></p>
      <p>imdbID: <a href="/movies/<%= movie_search["imdbID"] %>"><%= movie_search["imdbID"] %></a></p>
      <p>Type: <%= movie_search["Type"] %></p>
      <br><br>
    <% end %>
  <% end %>
</div>


</body>
</html>